@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('./helvetica.ttf') format('opentype');
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/*
.navbar {
  overflow: hidden;
  background-color: white;
  z-index: 950;
}
.spacingnav{
  margin-left: 10%;
  margin-right: 10%;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: grey;
  text-align: center;
  padding: 27px 16px;
  text-decoration: none;
  position: relative;
  border-right: 1px solid lightgray;
}
.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #f47c21;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.navbar a:hover:after {
  width: 100%;
  left: 0;
}
.dropdown {
  overflow: hidden;

}
.right{
  float: right;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 34px 19px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  z-index: 950;
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  z-index: 950;
  display: block;
}
.navbar img{
  height: 50px;
  padding: 14px 16px;
  float: left;
}*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  z-index: 900;
}

li {
  float: left;
  z-index: 900;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
}
ul>img{
  padding: 22px;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #efefef;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
